
<header class="header header--blue header--top">
    <div class="container">
        <div class="topbar">
            <ul class="topbar__contact">
                <li><span class="ion-ios-telephone-outline topbar__icon"></span><a href="tel:8801234567" class="topbar__link">(880)-123-4567</a></li>
                @*<li><span class="ion-ios-location-outline topbar__icon"></span><a href="#" class="topbar__link">200 East 65th Street 17NO, New York</a></li>*@
                <li><span class="ion-ios-email-outline topbar__icon"></span><a href="mailto:ReaLand@support.com" class="topbar__link">ReaLand@support.com</a></li>
            </ul><!-- .topbar__contact -->

            <ul class="topbar__user">
                <span class="ion-ios-person-outline topbar__user-icon"></span>
                <li><a href="#" class="topbar__link">Sign In</a></li>
                <li><a href="#" class="topbar__link">Join</a></li>
            </ul>
        </div><!-- .topbar -->
        <div class="header__main">
            <div class="header__logo">
                <a href="index.html">
                    <h1 class="screen-reader-text">Realand</h1>
                    <img src="../images/uploads/logo.png" alt="Realand">
                </a>
            </div><!-- .header__main -->
            <div class="nav-mobile">
                <a href="#" class="nav-toggle">
                    <span></span>
                </a><!-- .nav-toggle -->
            </div><!-- .nav-mobile -->
            <div class="header__menu header__menu--v1">
                <ul class="header__nav">
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Home</a>
                        <ul>
                            <li><a href="index.html">Home 1</a></li>
                            <li><a href="index_2.html">Home 2</a></li>
                            <li><a href="index_3.html">Home 3</a></li>
                            <li><a href="index_4.html">Home 4</a></li>
                            <li><a href="index_5.html">Home 5</a></li>
                        </ul>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Listing</a>
                        <ul>
                            <li><a href="listing_1.html">Listing List 1</a></li>
                            <li><a href="listing_5.html">Listing List 2</a></li>
                            <li><a href="listing_2.html">Listing Grid</a></li>
                            <li><a href="listing_3.html">Listing Full Map</a></li>
                            <li><a href="listing_4.html">Listing Half Map</a></li>
                        </ul>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Property</a>
                        <ul>
                            <li><a href="single_property_1.html">Single Property 1</a></li>
                            <li><a href="single_property_2.html">Single Property 2</a></li>
                            <li><a href="single_property_3.html">Single Property 3</a></li>
                        </ul>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Pages</a>
                        <ul>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="agents.html">Agent List</a></li>
                            <li><a href="agents_single.html">Agent Single</a></li>
                            <li><a href="coming_soon.html">Coming Soon</a></li>
                            <li><a href="404.html">404 Page</a></li>
                        </ul>
                    </li>
                    <li class="header__nav-item"><a href="blog.html" class="header__nav-link">Blog</a></li>
                </ul><!-- .header__nav -->
                <ul class="topbar__user">
                    <li><a href="#" class="topbar__link">Sign In</a></li>
                    <li><a href="#" class="topbar__link">Join</a></li>
                </ul>
                @*<a href="#" class="header__cta">&plus; Submit Property</a>*@
            </div><!-- .header__menu -->
        </div><!-- .header__main -->
    </div><!-- .container -->
</header><!-- .header -->