@{
    Layout = null;
}
<header id="header" class="page-head header-panel-absolute">
    <div class="rd-navbar-wrap">
        <nav data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-auto-height="false" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                    <h4 class="panel-title veil-md">Home</h4>
                    <!-- RD Navbar Right Side Toggle-->
                    <button data-rd-navbar-toggle=".rd-navbar-top-panel" class="rd-navbar-top-panel-toggle veil-md"><span></span></button>
                    <div class="rd-navbar-top-panel">
                        <div class="rd-navbar-top-panel-left-part">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                        <div class="unit-left"><span class="icon mdi mdi-phone text-middle"></span></div>
                                        <div class="unit-body">
                                            <a href="callto:#">0172-2623155, 2663424,</a> <a href="callto:09988806090" class="reveal-block reveal-md-inline-block">09988806090</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                        <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
                                        <div class="unit-body"><a href="#">S.C.O : 343-344-345, Top Floor, Sector 34-A, Chandigarh-160022</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                        <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                                        <div class="unit-body"><a href="mailto:info@Propertychandigarh.com">info@Propertychandigarh.com</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="rd-navbar-top-panel-right-part">
                            <div class="rd-navbar-top-panel-left-part">
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-left"><span class="icon mdi mdi-login text-middle"></span></div>
                                    <div class="unit-body"><a href="/account/login">Login/Register</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-menu-wrap clearfix">
                    <!--Navbar Brand-->
                    <div class="rd-navbar-brand">
                        <a href="/home/index" class="reveal-inline-block">
                            <div class="unit unit-xs-middle unit-xl unit-xl-horizontal unit-spacing-xxs">
                                <div class="unit-left"><img width='157' height='108' src='~/assets-web/images/logo-170x172.png' alt='' /></div>
                                <!-- <div class="unit-body text-xl-left"> -->
                                <!-- <div class="rd-navbar-brand-title">Williams College</div> -->
                                <!-- </div> -->
                            </div>
                        </a>
                    </div>
                    <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                            <div class="rd-navbar-mobile-header-wrap">
                                <!--Navbar Brand Mobile-->
                                <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='157' height='108' src='~/assets-web/images/logo-170x172.png' alt='' /></a></div>
                            </div>
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li class="active">
                                    <a href="/home/index">Home</a>
                                </li>
                                <li>
                                    <a href="/home/director_desk">Director's Desk</a>
                                </li>
                                <li>
                                    <a href="#">Courses</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="/Courses/NEET_course">NEET Courses</a></li>
                                        <li><a href="/Courses/JEE_course">JEE</a></li>
                                    </ul>
                                </li>
                                <li><a href="/home/pay_online">Pay Online</a></li>
                                <li>
                                    <a href="#">Scholarship</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li>
                                            <a href="/home/scholarship">Scholarship Test</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/home/job_career">Jobs</a></li>
                                <li><a href="/home/download">Downloads</a></li>
                                <li>
                                    <a href="/home/contact_Us">Contacts</a>
                                </li>
                                <!-- <li class="veil-md"><a href="shopping-cart.html">Shopping Cart (2)</a></li> -->
                            </ul>
                            <!--RD Navbar Mobile Search-->
                            <div id="rd-navbar-search-mobile" class="rd-navbar-search-mobile">
                                <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                                    <div class="form-group">
                                        <label for="rd-navbar-mobile-search-form-input" class="form-label">Search...</label>
                                        <input id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest" />
                                    </div>
                                    <button type="submit" class="icon fa-search rd-navbar-search-button"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--RD Navbar Search-->
                    <div class="rd-navbar-search">
                        <a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                        <form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                            <div class="form-group">
                                <label for="rd-navbar-search-form-input" class="form-label">Search</label>
                                <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest" />
                                <div id="rd-search-results-live" class="rd-search-results-live"></div>
                            </div>
                        </form>
                    </div>
                    <!--RD Navbar shop-->
                    <!-- <div class="rd-navbar-cart"><span class="icon fa-shopping-cart"></span><a href="shopping-cart.html" class="inset-left-10">2</a></div> -->
                </div>
            </div>
        </nav>
    </div>
</header>