@{
    Layout = null;
}
<header id="header" class="page-head header-panel-absolute">
    <div class="rd-navbar-wrap">
        <nav data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-auto-height="false" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                    <h4 class="panel-title veil-md">Home</h4>
                    <!-- RD Navbar Right Side Toggle-->
                    <button data-rd-navbar-toggle=".rd-navbar-top-panel" class="rd-navbar-top-panel-toggle veil-md"><span></span></button>
                    <div class="rd-navbar-top-panel">
                        <div class="rd-navbar-top-panel-left-part">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">v
                                        <div class="unit-left"><span class="icon mdi mdi-phone text-middle"></span></div>
                                        <div class="unit-body">
                                            <a href="callto:#">0172-2623155, 2663424,</a> <a href="callto:09988806090" class="reveal-block reveal-md-inline-block">09988806090</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                        <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
                                        <div class="unit-body"><a href="#">S.C.O : 343-344-345, Top Floor, Sector 34-A, Chandigarh-160022</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                        <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                                        <div class="unit-body"><a href="mailto:info@Propertychandigarh.com">info@Propertychandigarh.com</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="rd-navbar-top-panel-right-part">
                            <div class="rd-navbar-top-panel-left-part">
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-left"><span class="icon mdi mdi-login text-middle"></span></div>
                                    <div class="unit-body"><a href="/account/login">Login/Register</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-menu-wrap clearfix">
                    <!--Navbar Brand-->
                    <div class="rd-navbar-brand">
                        <a href="#" class="reveal-inline-block">
                            <div class="unit unit-xs-middle unit-xl unit-xl-horizontal unit-spacing-xxs">
                                <div class="unit-left"><img width='157' height='108' src='~/assets-web/images/logo-170x172.png' alt='' /></div>
                                <!-- <div class="unit-body text-xl-left"> -->
                                <!-- <div class="rd-navbar-brand-title">Williams College</div> -->
                                <!-- </div> -->
                            </div>
                        </a>
                    </div>
                   
                   
                </div>
            </div>
        </nav>
    </div>
    <div class="text-subline"></div>
</header>