@{
    Layout = null;
}
<nav role="navigation">
    <div class="navbar-right display_block">
        <ul class="nav navbar-nav no-borders">
            <!-- TO DO Later -->
        </ul>
    </div>
</nav>
