@{
    Layout = null;
}
<div class="row">               
    <div class="col-md-12 text-center">
        <strong>IDM</strong> - Property APP <br /> 2017 Copyright IDM Software Solutions.
    </div>
</div>      
