@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="container">
    <div class="thankyou_bg">
        <h2 class="thankyou_head">Error</h2>
        <p>
            <span class="thankyou_text">Your username or password do not match what we have on file. Please try again.</span>
        </p>
    </div>
</div>
