@{
    Layout = null;
}
<div class="back-link">
    <a ui-sref="login" class="btn btn-primary">Back to login</a>
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>PASSWORD RECOVER</h3>
                <small>Please fill the form to recover your password</small>
            </div>
            <div class="hpanel" ng-controller="loginController">
                <div class="panel-body">
                    <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>
                    <form name="forgotForm">
                        <div class="form-group">
                            <label class="control-label" for="username">Email</label>
                            <input type="email" placeholder="example@gmail.com" title="Please enter you email adress." ng-model="user.email" ng-maxlength="50" maxlength="50" ng-required="true" name="email" class="form-control">
                            <span class="help-block small">Your registered email address</span>
                            <div class="m-t-xs" ng-show="forgotForm.email.$touched && forgotForm.email.userName.$invalid">
                                <span class="text-danger" ng-show="forgotForm.email.$error.required">
                                    <i class="fa fa-exclamation-triangle"></i> Please enter a valid email.
                                </span>
                                <span class="text-danger" ng-show="forgotForm.email.$error.maxlength">
                                    <i class="fa fa-exclamation-triangle"></i> Maximum length is 50.
                                </span>
                                <span class="text-danger" ng-show="forgotForm.email.$error.email">
                                    <i class="fa fa-exclamation-triangle"></i> Please enter a valid email.
                                </span>
                            </div>  
                        </div>

                        <button ladda="loading" class="ladda-button ladda-button-demo btn btn-success btn-block" data-style="zoom-in" ng-click="clickForgot()">Reset password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div ng-include="'/partial/loginfooter'"></div>
</div>
