
@{
    ViewBag.Title = "scholarship";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

 <!-- Page Content-->
<main class="page-content section-70 ">
    <!--Section Login Register-->
    <section class="section-98 section-sm-110 section-bottom-66">
        <div class="shell">
            <div class="range range-xs-center section-34">
                <div class="cell-xs-8 cell-sm-6 cell-md-4">
                    <h2 class="text-bold">Sign In</h2>
                    <hr class="divider bg-madison">
                    <div class="offset-sm-top-45 text-center">
                        <!-- Responsive-tabs-->
                        <div data-type="horizontal" class="responsive-tabs responsive-tabs-classic horizontal">
                            <ul data-group="tabs-group-default" class="resp-tabs-list tabs-1 text-center tabs-group-default">
                                <li>Login</li>
                                <li>Registration</li>
                            </ul>
                            <div data-group="tabs-group-default" class="resp-tabs-container text-sm-left tabs-group-default">
                                <div>
                                    <!-- RD Mailform-->
                                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
                                        <div class="form-group">
                                            <label for="form-login-username" class="form-label form-label-outside">Username or e-mail:</label>
                                            <input id="form-login-username" type="text" name="username" data-constraints="" class="form-control bg-white">
                                        </div>
                                        <div class="form-group offset-top-15">
                                            <label for="form-login-password" class="form-label form-label-outside">Password:</label>
                                            <input id="form-login-password" type="password" name="pass" data-constraints="" class="form-control bg-white">
                                        </div>
                                        <div class="offset-top-20">
                                            <button type="submit" class="btn btn-primary reveal-block reveal-lg-inline-block">Sign in</button><span class="inset-lg-left-20 text-middle small reveal-inline-block offset-top-20 offset-lg-top-0">or enter with</span>
                                            <ul class="list-inline list-inline-xs list-inline-madison reveal-lg-inline-block inset-lg-left-10 inset-xl-left-20 text-middle offset-top-15 offset-lg-top-0">
                                                <li><a href="#" class="icon icon-xxs fa-facebook icon-circle icon-gray-light-filled"></a></li>
                                                <li><a href="#" class="icon icon-xxs fa-twitter icon-circle icon-gray-light-filled"></a></li>
                                                <li><a href="#" class="icon icon-xxs fa-google icon-circle icon-gray-light-filled"></a></li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    <!-- RD Mailform-->
                                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
                                        <div class="form-group">
                                            <label for="form-register-username" class="form-label form-label-outside">Name:</label>
                                            <input id="form-register-username" type="text" name="name" data-constraints="" class="form-control bg-white">
                                        </div>
                                        <div class="form-group offset-top-15">
                                            <label for="form-register-email" class="form-label form-label-outside">Email:</label>
                                            <input id="form-register-email" type="text" name="email" data-constraints="" class="form-control bg-white">
                                        </div>
                                        <div class="form-group offset-top-15">
                                            <label for="form-register-password" class="form-label form-label-outside">Password:</label>
                                            <input id="form-register-password" type="password" name="pass" data-constraints="" class="form-control bg-white">
                                        </div>
                                        <div class="form-group offset-top-15">
                                            <label for="form-register-confirm-password" class="form-label form-label-outside">Confirm Password:</label>
                                            <input id="form-register-confirm-password" type="password" name="confirmpass" data-constraints="" class="form-control bg-white">
                                        </div>
                                        <div class="offset-top-20">
                                            <button type="submit" class="btn btn-primary">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Page Footer-->







