@{
    Layout = null;
}
<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>{{getWord('RESET MY PASSWORD')}}</h3>
                <small>{{getWord('Please provide a new password for your Amazon Market Place account')}}.</small>
            </div>
            <div class="hpanel" ng-controller="loginController">
                <div class="panel-body">
                    <p>
                        {{getWord('Enter your new password and your password will be reset')}}.
                    </p>
                    <form name="resetForm">
                        <div class="form-group">
                            <input id="hfRequestId" type="hidden" value="{{currentUrlValue.rel_id}}" />
                            <input id="hfUserId" type="hidden" value="{{currentUrlValue.userId}}" />

                            <label class="control-label" for="Password">{{getWord('Password')}}</label>
                            <input type="password" ng-model="user.Password" ng-minlength="8" ng-maxlength="25" maxlength="25" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,25}/" ng-required="true" class="form-control" name="password" placeholder="******">
                            <span class="help-block small">{{getWord('Password must be at least 8 characters and contain 1 uppercase and 1 number.')}}</span>
                            
                            <div class="m-t-xs" ng-show="resetForm.password.$touched && resetForm.password.$invalid">
                                <span class="text-danger" ng-show="resetForm.password.$error.required">
                                    <i class="fa fa-exclamation-triangle"></i> Please enter a valid Password.
                                </span>     
                                <span class="text-danger" ng-show="resetForm.password.$error.minlength">
                                    <i class="fa fa-exclamation-triangle"></i> Minimum length is 8.
                                </span>
                                <span class="text-danger" ng-show="resetForm.password.$error.maxlength">
                                    <i class="fa fa-exclamation-triangle"></i> Maximum length is 50.
                                </span>
                                <span class="text-danger" ng-show="resetForm.password.$error.pattern">
                                    <i class="fa fa-exclamation-triangle"></i> Password must be at least 8 characters and contain 1 uppercase and 1 number.
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="Confirm Password">{{getWord('Confirm Password')}}</label>
                            <input type="password" ng-model="user.ConfirmPassword" valid-password-compare="user.Password" ng-minlength="8" ng-maxlength="25" ng-required="true" class="form-control" name="confirmPassword" placeholder="******">
                            <span class="help-block small">{{getWord('Enter your confirm password.')}}</span>
                            <div class="m-t-xs" ng-show="resetForm.confirmPassword.$touched && resetForm.confirmPassword.$invalid">
                                <span class="text-danger" ng-show="resetForm.confirmPassword.$error.required">
                                    <i class="fa fa-exclamation-triangle"></i> Please enter a valid Confirm Password.
                                </span>
                                <span class="text-danger" ng-show="resetForm.confirmPassword.$error.noMatch">
                                    <i class="fa fa-exclamation-triangle"></i> Passwords do not match.
                                </span>
                            </div>
                        </div>
                        <button ladda="loading" class="ladda-button ladda-button-demo btn btn-success btn-block" data-style="zoom-in" ng-click="resetPassword()">{{getWord('Reset password')}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div ng-include="'/partial/loginfooter'"></div>
</div>
