@{
    Layout = null;
}
<div class="color-line"></div>
<div class="back-link">
    <a ui-sref="login" class="btn btn-primary">Back to Login</a>    
</div>
<div class="error-container">
    <i class="pe-7s-gift text-success big-icon"></i>
    <h3 class="font-size-25 font-bold color-orange">Thanks You!</h3>
    <p class="font-size-18">        
        Thanks for verifying your email. Our experts will always get in touch with you.
    </p>
    <a ui-sref="login" class="btn btn-xs btn-success">Go back to login</a>
</div>