<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />

    <!--Start: Email Settings-->
    <add key="MailFrom" value="ameba.developers@gmail.com" />
    <add key="SMTP" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="MailAddress" value="ameba.developers@gmail.com" />
    <add key="MailPassword" value="!ndia321" />
    <add key="IsMailEnabled" value="true" />
    <add key="UseDefaultCredentials" value="false" />
    <add key="EnableSsl" value="true" />
    <!--End: Email Settings-->
    
    <!--Start: Project static value settings-->
    <add key="DisplayName" value="Property APP" />
    <add key="SuperAdminUserId" value="1" />
    <add key="SuperAdminRoleId" value="1" />
    <add key="DefaultCompanyId" value="1" />
    <add key="DefaultCountryId" value="0" />
    <add key="DefaultStateId" value="0" />
    <add key="DefaultCityId" value="0" />
    <add key="SubscriptionDays" value="14" />
    <add key="DateFormat" value="MM/dd/yyyy" />
    <add key="EmailExpireLimit" value="1440" />
    <add key="OwnerName" value="Property" />
    <add key="TagLine" value="Happy profit making." />
    <add key="FooterDisplayName" value="2017 Property APP" />
    <add key="FooterDisplayAddress" value="Mohali, IN" />
    <!--<add key="TimeZoneInHours" value="5" />
    <add key="TimeZoneInMin" value="0" />
    <add key="ServerInHours" value="11" />
    <add key="ServerInMin" value="28" />-->
    
    <add key="TimeZoneInHours" value="5" />
    <add key="TimeZoneInMin" value="0" />
    <add key="ServerInHours" value="0" />
    <add key="ServerInMin" value="0" />
    <!--End: Project static value settings-->
    
    <!--Start: Project Settings-->
    <add key="IsLive" value="true" />
    <add key="LiveURL" value="http://112.196.34.42:9050" />
    <add key="LocalURL" value="http://localhost:63719" />
    <!--End: Project Settings-->
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" />
    <compilation debug="true" targetFramework="4.5" />
    <sessionState mode="InProc" timeout="1440"></sessionState>
    <customErrors mode="Off" />
    <pages>   
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Optimization" /> 
      </namespaces>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="ServiceDataBase" connectionString="Data Source=WORKSTATION-PC\SQLEXPRESS;Initial Catalog=MLSDatanew;User ID=sa;Password=!nd!@123" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />

      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>