
@{
    ViewBag.Title = "jee_course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="page-content">
    <section>
        <!-- Swiper-->
        <div data-height="20%" data-loop="false" data-dragable="false" data-slide-effect="true" class="swiper-container swiper-slider">
            <div class="swiper-wrapper">
                <div data-slide-bg="/assets-web/images/slide-01-1920x810.jpg" style="background-position: 80% center" class="swiper-slide">
                    <div class="swiper-slide-caption">
                        <div class="container">
                            <div class="range range-xs-center range-lg-left">
                                <div class="cell-md-9 text-md-left cell-xs-10">
                                    <div data-caption-animate="fadeInUp" data-caption-delay="100">
                                        <h1 class="text-bold">JEE Courses</h1>
                                        <div class="offset-sm-top-35">
                                            <ul class="list-inline list-inline-lg list-inline-dashed p">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="#">JEE Courses</a></li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Accordion-->

    <section>
        <div class="shell-wide">
            <div class="hr bg-gray-light"></div>
        </div>

        <div class="shell section-60">
            <div class="range range-lg-justify range-xs-center">

                <div class="cell-xs-10 cell-md-5 cell-lg-8 text-lg-left offset-top-50 offset-md-top-0">
                    <h6 class="text-bold">JEE Courses</h6>
                    <div class="text-subline"></div>
                    <div class="offset-top-20">
                        <ul class="list list-marked list-marked-primary">
                            
                            <li><h8 class="text-bold text-primary"><a href="/Courses/course_detail">Class Room Courses</a></h8></li>
                            <li><h8 class="text-bold text-primary"><a href="/Courses/course_detail">Corespondence Courses</a></h8></li>
                            <li><h8 class="text-bold text-primary"><a href="/Courses/course_detail">Weekend Courses</a></h8></li>
                            <li><h8 class="text-bold text-primary"><a href="/Courses/course_detail">Crash Courses</a></h8></li>
                            <li><h8 class="text-bold text-primary"><a href="/Courses/course_detail">Test Series</a></h8></li>

                        </ul>
                    </div>



                </div>

                <div class="cell-xs-10 cell-md-5 cell-lg-4 text-lg-left offset-top-50 offset-md-top-0">
                    <h6 class="text-bold">Latest Courses</h6>
                    <div class="text-subline"></div>
                    <div class="offset-top-20">
                        <ul class="list-unstyled contact-info list">
                            <li>
                                <div class="box-comment text-left box-comment-classic">
                                    <div class="unit unit-xs-horizontal">

                                        <div class="unit-body">
                                            <div>
                                                <p class="box-comment-title">
                                                    <span class="h4 text-primary fa-quote-left"></span>
                                                    <a class="inset-left-20 text-italic" href="http://uhsr.ac.in/detail.aspx?artid=24&menuid=12">All India 15% seats counseling website</a></>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li class="offset-top-15">
                                <div class="box-comment text-left box-comment-classic">
                                    <div class="unit unit-xs-horizontal">

                                        <div class="unit-body">
                                            <div>
                                                <p class="box-comment-title">
                                                    <span class="h4 text-primary fa-quote-left"></span>
                                                    <a class="inset-left-20 text-italic" href="http://uhsr.ac.in/detail.aspx?artid=24&menuid=12">Click here to open Website for Haryana MBBS/BDS admission information</a></>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="offset-top-15">
                                <div class="box-comment text-left box-comment-classic">
                                    <div class="unit unit-xs-horizontal">
                                        <div class="unit-body">
                                            <div>
                                                <p class="box-comment-title">
                                                    <span class="h4 text-primary fa-quote-left"></span>
                                                    <a class="inset-left-20 text-italic" href="http://mcc.nic.in/MCCUG_aiq/Archive-Download">Link for NEET 2016 Round-2 Cutoff List (Rank Wise) chosse Archieve Download then 2016</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="offset-top-15">
                                <div class="box-comment text-left box-comment-classic">
                                    <div class="unit unit-xs-horizontal">

                                        <div class="unit-body">
                                            <div>
                                                <p class="box-comment-title">
                                                    <span class="h4 text-primary fa-quote-left"></span>
                                                    <a class="inset-left-20 text-italic" href="http://www.mciindia.org/InformationDesk/CollegesCoursesSearch.aspx">MCI website for list of ALL Govt. and Private Medical Colleges with seasts</a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="cell-xs-10 cell-md-8 cell-lg-4 text-lg-left offset-top-50 offset-lg-top-0">

                    <div class="form-group">


                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

