@{
    Layout = null;
}

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="HomeController">
    <div class="content" animate-panel effect="zoomIn">
        <div class="row">
            <div class="col-lg-12">
                Welcome to Dashboard.
            </div>
        </div>
    </div>
</div>
